#
# The following parameter indicates where RDFGears
# looks for the data folders, and you might need to modify it
# since your application server's current directory might vary
# if you launch Tomcat from the bin directory, it should be fine 

rdfgears.base.path = ../rdfgears/

hbm.path = hbm

data.types.path = dataTypes

database.url = jdbc:mysql://localhost:3306/imreal

dbuser =

dbpassword = 